*.swp
qdata_*
examples/
docker-compose.yml
consortium.yaml
quorum_config.yaml
crux_config.yaml
backend_config.yaml
node_secret.yaml
!templates/consortium.yaml
!templates/explorer.yaml
!templates/quorum_config.yaml
!templates/backend_config.yaml
!templates/crux_config.yaml
!templates/node_secret.yaml